* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
header {
    height: 100vh;
    background-image: url(../img/jumbo.png);
    background-size: 100% 100vh;  
}
a {
    display: inline-block
}
h2 {
    font-size: 45px;
    margin:30px 0;
    font-weight: 900;
}
p {
    font-weight: 600;
    line-height: 30px;
}
footer {
    background-color: rgba(35,39,42,255);
    height: 100vh;
}
ul {
    list-style-type: none;
}
/* UTILITIES */
.una-colonna {
    width: calc(1200px / 6);
}
.due-colonna {
    width: calc(1200px / 6 * 2);
}
.quattro-colonna {
    width: calc(1200px / 6 * 4);
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.section_one, .section_two, .section_three {
    height: 100vh;
    width: 100%;
}
.container {
    width: 1200px;
    height: 100vh;
    margin: auto;
}
.container_two {
    width: 1200px;
    margin: auto;
}
.logo, .navigation, .login {
    float: left;
    padding: 20px;
    height: 80px;   
}
.section_floatleft {
    float:left;
}
.Height_box {
    height: 400px;
}
.section_two, .section_four {
    background-color: rgba(246,246,246,255);
}
.link-mac, .link-mac-two, .link-browser {
    text-decoration: none;
    font-weight: bold;
    border-radius:20px;
    padding: 10px 25px;
}    
.section_container, .footer_container {
    padding: 100px 0;
}
/* fine utilities */

/* INIZIO HEADER */
.navigation_ul {
    text-align: center;
}
.navigation li {
    display: inline-block;
    margin: 0 10px;  
}
.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.login .registrati {
    text-align: right;
}
.login a, .registrati a {
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    padding: 5px 15px;
    border-radius:20px; 
    color: black;
}
.header_section {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    color: white;
}
.header_section h1, .header_section p {
    margin-bottom: 30px;
}
.header_section h1{
    font-size: 50px;
    font-weight: 800;
}
.link-mac {
    background-color: white;
    color: black;
}
.link-browser {
    background-color: black;
    color: white;
    margin-left: 20px;
}
.img_right {
    margin-left: 183px;
}

/* FINE HEADER */

/* INIZIO MAIN */

.section_text_four {
    text-align: center
}
.four_img {
    position: relative;
    left: 163px;
}
.link-mac-two {
    color: white;
    background-color: #8ea1e1;
}
.section_four_link {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: top;
    margin: auto;
    text-align: center;
}
.section_four_link h3 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px ;  
}

/* FINE MAIN */

/* INIZIO FOOTER */

.footer_container, .footer_container_two {
        width: 1200px;
        margin: auto;   
}
.footer_container h3, h5 { 
    color: #8ea1e1 ;
}
.footer_container h3 {
    font-size: 40px;
    font-weight: 800;  
}
.footer_container h5 {
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
}
.iltuo{
    margin-top: 40px;
}
.ita {
    height: 20px;
}
.footer_span {
    color: white;
    vertical-align: top;  
}
.fas {
    vertical-align: bottom;
}
.fab {
    color: white;
    margin: 20px 20px 0 0;
}
.footer_container a {
    text-decoration: none;
    color: white;
    margin: 5px;
}
.footer_container_two {
    border-top: 1px solid #8ea1e1;
    padding-top: 40px;  
}
.registrati {
    float: right;   
}
.registrati a {
    background-color: #8ea1e1;
    color: white
}

/* FINE FOOTER */